{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block  header%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_regist.css') }}">
{% endblock %}


{% block main%}
    <h3 class="page-title">注册</h3>
    <form action="" method="POST">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password2" name="password2">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="phone" name="phone">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">立即注册</button>
            </div>
        </div>
    </form>
{% endblock %}